header {
  padding: 15px 10px;
}
header,
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-container {
  gap: 10px;
}

.search-btn button,
.categories-btn button,
.search-bar button {
  border: none;
  background-color: #ffffff;
}
.Naverlay button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: #00000000;
}
.logo-container h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 10px;
  background-color: #ffffff;
  transition: all 0.3s ease-in;
}
.search-bar input {
  width: 80%;
  padding: 6px;
  border: none;
  border-bottom: 1px solid grey;
  transition: border-bottom 0.3s ease-in-out;
}
.search-bar input:focus,
.search-bar input:hover {
  outline: none;
  border-bottom: 2px solid rgb(71, 70, 70);
}
.search-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 10px;
  min-height: 20%;
}
.search-list ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
}
.search-list ul li a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.nav-container h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin: 10px;
  margin-top: 0;
  color: #000000;
}
.nav-container nav {
  width: 100%;
  height: 100%;
}

.nav-container nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 30%;
}
.nav-container nav ul li {
  padding: 10px;
  border-radius: 5px;
  background-color: #dfdddd5c;
  transition: all 0.3s ease-out;
}
.nav-container nav ul li:hover {
  transform: translateY(-5px);
}
.nav-container nav ul li a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
/* ----------------------------------------------------Article---------------------------------------------------- */
.padding-container-section .FP-container {
  display: flex;
  height: inherit;
  min-height: 80dvh;
}

.FP-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #8a8888;
  border-radius: 8px;
}
.FP-img {
  width: 100%;
  min-height: 55%;
}
.FP-img img {
  border-radius: 8px;
}
.FP-intro p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
.FP-title h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
  color: #ffffff;
}
.SP-article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 15px;
}
.SP-img {
  width: 100%;
  min-height: 115px;
}
.SP-img img {
  border-radius: 8px;
}
.SP-title h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
.SP-text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: auto;
  text-align: center;
  color: #000000;
}
.SP-btn a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 12px;
  background-color: #8a8888;
}
.TP-article {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  min-height: 200px;
}
.TP-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #8a8888;
}
.TP-img {
  width: 46%;
  height: 100%;
}
.TP-img img {
  border-radius: 8px;
}
.TP-text {
  align-items: flex-start;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.TP-text h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  text-align: start;
  color: #000000;
}
.TP-text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: start;
  color: #ffffff;
}
/* ----------------------------------------------------RUBRIQUE---------------------------------------------------- */
.reel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  width: 138px;
  height: 256px;
  border-radius: 8px;
  background-color: #8a8888;
}
.videos-grid {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 10px;
}
.description-video p {
  max-width: 138px;
  min-height: 88px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.Rubrique-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
