@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}
a,
a:visited {
  text-decoration: none;
  outline: none;
}
li {
  list-style: none;
}
section {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
}
.contain img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.404);
  z-index: 999;
}
