@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}
a,
a:visited {
  text-decoration: none;
  outline: none;
}
li {
  list-style: none;
}
section {
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
}
.Second-sec {
  min-height: 360px;
}
.padding-container-section {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.padding-container-second-sec {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  min-height: 360px;
}
.contain img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  pointer-events: auto;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #00000067;
  z-index: 999;
}
.Naverlay {
  backdrop-filter: blur(1px);
}
